<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
  	<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      This page will tell visitors all about our wonderful site.
    </p>
  </body>
</html>