<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
  	<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      This page will offer help to users in distress.
    </p>
  </body>
</html>