<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- Including will_paginate above & below the user list, the links will appear both -->
<%= will_paginate %>

<ul class="users">
	<!-- Some Rails magic whereby we pass the @users objects to render in the view,
	and they are rendered one by one using the _users partial. Incredibly compact -->
	<%= render @users %>
</ul>

<%= will_paginate %>