<h1>This is a list of locations</h1>
<h2>Select one to see its status</h2>

<% if logged_in? %>
	<h4><%= link_to 'Add Location', new_location_path %></h4>
	<br>
<% end %>

<ul>
	<% @locations.each do |loc| %>
		<h4><%= link_to loc.title, location_path(loc.id) %></h4>
		<p><%= loc.description %></p>
		<br>
	<% end %>
</ul>